{% from "components.html" import modal_frame, secret_input, modal_footer %}

{% call modal_frame(open_model="modals.vault.open", title_text="modals.vault.fields.type === 'app' ? 'Add App Token' : 'Add User Key'") %}
    <div class="form-group" style="margin-bottom: 1rem;">
        <label>Alias Name</label>
        <input type="text" x-model="modals.vault.fields.name" placeholder="e.g. MyServer" autocomplete="off" data-lpignore="true" data-bwignore="true" data-1p-ignore="true" style="width: 100%;">
    </div>
    <div class="form-group">
        <label>Token Value</label>
        {{ secret_input(value_model="modals.vault.fields.token", show_model="modals.vault.showToken", max_length=30) }}
    </div>

    <div x-show="modals.vault.error" class="danger" style="color: var(--danger-color); font-weight: bold; margin-top: 1rem; font-size: 0.9rem;" x-text="modals.vault.error"></div>

    {{ modal_footer(clear_click="modals.vault.clear()", clear_disabled="!modals.vault.isDirty", cancel_click="modals.vault.open = false", save_click="modals.vault.save()", save_disabled="!modals.vault.canSave", save_text="Save") }}
{% endcall %}
