{% from "components.html" import modal_frame, secret_input, modal_footer %}

{% call modal_frame(open_model="modals.edit.open", title_text="modals.edit.fields.type === 'smtp' ? 'Change Password for ' + modals.edit.fields.name : 'Modify Secret for ' + modals.edit.fields.name") %}
    <div class="form-group" style="max-width: 100%;">
        <label x-text="modals.edit.fields.type === 'smtp' ? 'New Password' : 'New Token Value'"></label>
        {{ secret_input(value_model="modals.edit.fields.value", show_model="modals.edit.showToken", placeholder_text="Enter new hidden value...", dynamic_max_length="modals.edit.fields.type === 'vault' ? 30 : 256") }}
    </div>

    {{ modal_footer(clear_click="modals.edit.clear()", clear_disabled="!modals.edit.isDirty", cancel_click="modals.edit.open = false", save_click="saveEditModal()", save_disabled="!canSaveEditModal") }}
{% endcall %}
