{% from "components.html" import modal_frame, listener_network_block, listener_security_toggle, modal_footer %}

{% call modal_frame(open_model="modals.uiListener.open", title_text="modals.uiListener.mode === 'add' ? 'Add UI Listener' : 'Modify UI Listener'") %}

    {{ listener_network_block(ip_model="modals.uiListener.fields.ip", port_model="modals.uiListener.fields.port") }}

    {{ listener_security_toggle(model="modals.uiListener.fields.https", label_text="Enable HTTPS") }}

    <div x-show="modals.uiListener.fields.https" style="margin-top: 1rem;">
        <div class="form-group" style="margin-bottom: 0.5rem;"><label>TLS Cert File</label><input type="text" x-model="modals.uiListener.fields.tls_cert" placeholder="Leave blank to auto-generate" autocomplete="off" data-lpignore="true" data-bwignore="true" data-1p-ignore="true" style="width: 100%;"></div>
        <div class="form-group" style="margin-bottom: 1rem;"><label>TLS Key File</label><input type="text" x-model="modals.uiListener.fields.tls_key" placeholder="Leave blank to auto-generate" autocomplete="off" data-lpignore="true" data-bwignore="true" data-1p-ignore="true" style="width: 100%;"></div>
    </div>
    <span class="validation-error" x-show="modals.uiListener.error" x-text="modals.uiListener.error"></span>

    {{ modal_footer(clear_click="modals.uiListener.clear()", clear_disabled="!modals.uiListener.isDirty", cancel_click="modals.uiListener.open = false", save_click="saveUiListenerModal()", save_disabled="!canSaveUiListenerModal") }}
{% endcall %}
